@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form method="post">
        数字あて<br/>
        数字を入力してください<br/>
        <input type="number" name="text" value="@ViewData["Text"]"/><br/>
        <button type="submit">回答</button><br/>
        <input type="hidden" name="answer" value="@ViewData["Answer"]" />
    </form>
    <pre>@ViewData["Message"]</pre>
</div>
